services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
        - ./Caddyfile.dev:/etc/caddy/Caddyfile
        - caddy_data:/data
        - caddy_config:/config
    networks:
      - web

  go-server:
    build: .
    container_name: go-server
    restart: unless-stopped
    networks:
      - web


networks:
  web:
    external: true

volumes:
  caddy_data:
  caddy_config: